[submodule "tools/doxygen-awesome-css"]
	path = tools/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
	branch = main
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/bgfx"]
	path = vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "vendor/bimg"]
	path = vendor/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "vendor/bx"]
	path = vendor/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "vendor/glfw3"]
	path = vendor/glfw3
	url = https://github.com/glfw/glfw.git
[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tools/py-cppbuild"]
	path = tools/py-cppbuild
	url = https://github.com/ClayCore/py-cppbuild
